extends layout

block content
  .w3-container
    h1 Prémios Nobel de Daw
    ul.w3-ul  
      li
        a(href="http://localhost:3000/premios") Lista de prémios
      li
        a(href="http://localhost:3000/categorias") Lista de categorias
      li
        a(href="http://localhost:3000/laureados ") Lista de laureados
