extends layout

block content
    h1 Filmes App
    .w3-card-4
            header.w3-container.w3-green
                h3 Novo filme
            .w3-container
                form.w3-container(action='/filmes' method='POST' id='form1')
                    label
                        b Titulo
                    input.w3-input.w3-border.w3-light-grey(type='text' name='title' id='title')
                    label
                        b Ano
                    input.w3-input.w3-border.w3-light-grey(type='text' name='year' id='year')
                    input.w3-btn.w3-green(name='enviar' type='submit' value='Enviar')
                    hr
            .w3-card-4
                table.w3-table-all
                    tr  
                        th Id
                        th Titulo
                        th Ano
                    each a in lista
                        tr
                            td= a.id
                            td= a.title
                            td= a.year
                            td
                                button.w3-button.w3-blue-grey(onclick="apagaFilme('" + a.id + "')") Apagar
                                button.w3-button.w3-blue-grey(onclick="verFilme('" + a.id + "')") Ver 
            footer.w3-container.w3-green
                address Gerado por Filmes App