doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='./filmes/ver.js')
    script(src='./filmes/apagar.js')
  body
    block content